.pid
*.xml
*.csr
*.crt
*.key
*.zip
www
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
*.db-journal
lib
deps
tts
secrets.yaml
*.conf
compiled
conf
apps
.uuid
plex.conf
master.zip
.*
!/.gitignore
*.ca-bundle
*.ca-bundle.txt
*.sqlite
html5.push_registrations.conf
*.pickle